.container {width:100px; margin:auto;}
*{margin:0px; padding:0px;}
.headerwrapper{background:white; overflow:hidden; /*box-shadow: 0px 1px 3px 1px  rgba(50, 50, 50, 0.35);*/
 height:100%;  }
/*#header{  overflow:hidden;   }
.headerwrapper .logo {float:left; line-height:130px; margin-top:15px; }
.headerwrapper nav ul{font-family:Arial; float:right; font-size:16px; font-weight:bold; margin-top:15px; }
/*.headerwrapper nav  li{list-style:none; float:left; margin:20px; padding:15px; }
.headerwrapper nav  li a {text-decoration:none; color:#313131; }
*/
.headerwrapper nav ul li {list-style:none; float:left; margin:20px; padding:15px;}
.headerwrapper nav ul li a{text-decoration:none; color:#313131;}
.headerwrapper nav ul li:hover{background:#ff5a0b; border-radius:5px; color:#FFF; transition:all 0.5s;
animation:rubberBand 0.9s; -webkit-animation:rubberBand 0.9s;}
.headerwrapper nav ul li:hover a{color:white;}


/*.headerwrapper nav li a :hover{background:#ff5a0b; border-radius:5px; color:white; transition:all 0.5s ;
 animation:rubberBand 0.9s; -webkit-animation:rubberBand 0.9s;}*/